# Euphoria Twitter Analysis

## Data Cleaning and Processing

## Scope: This notebook will show how I combine all my data into one DataFrame and clean the data

Scrape data off twitter and then use NLP to transform the data and do some data visuzlizations

In [1]:
# Import Libraries 
import pandas as pd
import os
import glob

In [2]:
pwd

'/Users/iizokun/Desktop/ds_programming/euphoria'

In [3]:
join= os.path.join("euphoria*.csv")

In [4]:
join_list = glob.glob(join)

In [5]:
join_list

['euphoria02.csv',
 'euphoria03.csv',
 'euphoria01.csv',
 'euphoria04.csv',
 'euphoria05.csv',
 'euphoria07.csv',
 'euphoria06.csv']

In [6]:
join

'euphoria*.csv'

In [7]:
all_tweets = []
for tweet_df in join_list:
    print(f'Loading {tweet_df}')
    
    new_df = pd.read_csv(tweet_df)
    
    all_tweets.append(new_df)

Loading euphoria02.csv
Loading euphoria03.csv
Loading euphoria01.csv

/Users/iizokun/opt/miniconda3/envs/ds102/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (0,10,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Loading euphoria04.csv
Loading euphoria05.csv
Loading euphoria07.csv
Loading euphoria06.csv

In [8]:
len(all_tweets)

7

In [9]:
df = pd.concat(all_tweets)

In [10]:

df.shape

(236640, 22)

In [11]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,0,Really want a fez / Lexi parallel scene to whe...,2022-01-23 23:59:50,1.485402e+18,Katy,katykitty628,1.471191e+18,NaN,NaN,just a girl in a man's world üòå. ...,...,82.0,556.0,113.0,0.0,2021-12-15 18:51:50,https://pbs.twimg.com/profile_images/147119180...,True,False,0.0,0.0
1,1,#Euphoria I hope Maddy pulls the hair out that...,2022-01-23 23:59:33,1.485402e+18,ùêïùê¢ùê´ùê†ùêûùêöùêÆùê±,_njauu,9.510643e+17,here,NaN,"you're in my business, don't do that.",...,221.0,155447.0,45787.0,1.0,2018-01-10 12:12:53,https://pbs.twimg.com/profile_images/147736305...,True,False,0.0,0.0
2,2,Between #AndJustLikeThat and #Euphoria @HBO is...,2022-01-23 23:59:04,1.485402e+18,Steph Swinton,StephSwinton,2.390617e+07,New York,NaN,Just a girl from the city.\nalt Twitter: TheAr...,...,729.0,32677.0,28747.0,5.0,2009-03-12 05:32:39,https://pbs.twimg.com/profile_images/950198226...,False,False,0.0,2.0
3,3,its #Euphoria day!!!!,2022-01-23 23:59:04,1.485402e+18,felic-titty,lilbootybbg,1.173761e+18,in therapy,NaN,she/her 21 :),...,145.0,42553.0,3027.0,0.0,2019-09-17 00:52:26,https://pbs.twimg.com/profile_images/145893433...,True,False,0.0,2.0
4,4,YESSSIR DOING A QUICK STREAM BEFOE TONIGHT'S #...,2022-01-23 23:58:56,1.485402e+18,Chris RossVlogs,ChrisRossvlogs,1.347083e+18,Mr. Hollywood,https://t.co/3xdQXI2Zv8,"Actor/Director, & Youtuber Use code ‚ÄúChrisRoss...",...,276.0,4211.0,4099.0,1.0,2021-01-07 07:32:01,https://pbs.twimg.com/profile_images/141594587...,True,False,1.0,3.0

In [12]:
df.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
16976,16976,I hate that I have a gut feeling that somethin...,2022-02-15 00:00:31,1.493375e+18,olivia,Liv_Jord,1.278210e+18,NaN,NaN,21~NC make today count she/her,...,367.0,12109.0,2144.0,0.0,2020-07-01 06:12:49,https://pbs.twimg.com/profile_images/141830766...,True,False,0.0,1.0
16977,16977,What‚Äôs with all the adults on Euphoria just ca...,2022-02-15 00:00:21,1.493375e+18,(toe‚Ä¢lu)üá≥üá¨,skiipTOmyLU,2.456662e+07,"Houston, TX",NaN,"I came, I saw, I left early.",...,366.0,8476.0,23075.0,7.0,2009-03-15 18:56:40,https://pbs.twimg.com/profile_images/149364342...,False,False,0.0,0.0
16978,16978,‚ÄúEpisode eight is where we‚Äôll get that sense o...,2022-02-15 00:00:20,1.493375e+18,GRAZIA,graziatweets,2.041904e+07,New York,https://t.co/pifa2NBobd,The number one destination for smart and styli...,...,794.0,936.0,7336.0,357.0,2009-02-09 06:02:12,https://pbs.twimg.com/profile_images/132316780...,False,False,1.0,0.0
16979,16979,Rue be like #Euphoria https://t.co/E0Z6AEYyEb,2022-02-15 00:00:15,1.493375e+18,the business bitch,_babuba_,4.765358e+09,NaN,NaN,œÄŒØŒ≤ŒøœÑ œÉŒµ ŒµŒæŒ≠Œª Œ∫Œ±Œπ œÄŒ±œÅŒ∫Œ≠,...,335.0,83433.0,36282.0,14.0,2016-01-16 00:16:14,https://pbs.twimg.com/profile_images/148817450...,False,False,0.0,1.0
16980,16980,Unique Rotating Ultra-Thin Steel Watchüëâhttps:/...,2022-02-15 00:00:01,1.493375e+18,Lucky Super Store,LSS_Store,1.062288e+18,"715 Main St, Asbury Park, NJ",https://t.co/UTYsdnPioj,NaN,...,1477.0,4279.0,5252.0,2.0,2018-11-13 10:15:07,https://pbs.twimg.com/profile_images/146425578...,False,False,0.0,0.0

In [15]:
df.sample(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
37769,37767,Rue all night #Euphoria https://t.co/ygHrDinofg,2022-02-07 16:04:33,1.490718e+18,Danski,Danskiatplay,2.868479e+07,NaN,NaN,üï∏ just a spider dude.,...,168.0,5404.0,2254.0,33.0,2009-04-03 23:28:37,https://pbs.twimg.com/profile_images/139414060...,False,False,0.0,0.0
34875,34875,Honestly this is some of the best and most tra...,2022-01-31 07:53:08,1.488058e+18,Kristiana,KristianaJo,3.299120e+09,"Las Vegas, NV",NaN,I‚Äôm a grown up now but somehow Twitter still e...,...,246.0,7806.0,3595.0,0.0,2015-07-28 03:27:51,https://pbs.twimg.com/profile_images/148776321...,True,False,1.0,3.0
26041,26039,"#nw #Euphoria Season 2, Episode 2 https://t.co...",17/01/2022 03:19,1.482920e+18,JAXEN üß£,ABELXDAYA,9.833290e+17,19 He/Him,https://t.co/2AK8TWZMto,Zendaya's side hoe,...,1892.0,124965.0,27854.0,23.0,09/04/2018 13:00,https://pbs.twimg.com/profile_images/148389764...,True,False,0.0,8.0
17288,17288,Maddy to cassie on next ep ‚ò†\n#maddy #cassie ...,2022-02-08 12:03:18,1.491020e+18,Meligod,meeligod,1.359190e+18,NaN,NaN,Melissa /\n18. ‚ô°,...,31.0,265.0,50.0,0.0,2021-02-09 17:17:31,https://pbs.twimg.com/profile_images/149102189...,True,False,0.0,3.0
1002,1002,Finally catching up on #Euphoria,2022-02-06 19:29:41,1.490407e+18,üíôüíï,only1_ayanna_,5.835804e+07,Jersey/NYC,NaN,‚ÄúAnd I hide from the camera .... why.... cause...,...,770.0,42010.0,22005.0,3.0,2009-07-20 02:03:52,https://pbs.twimg.com/profile_images/148613825...,False,False,0.0,0.0

Next Step would be to get some column names and get the row index in place

In [17]:
df.columns

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'],
      dtype='object')

In [21]:
df = df.drop(columns = ['Unnamed: 0'])

In [22]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20'],
      dtype='object')

In [23]:
df.shape

(236640, 21)

In [24]:
df.columns = ['tweet_full_text', 'tweet_created_at','tweet_id', 'tweet_username','tweet_user_screename','tweet_userid_str',
                   'tweet_user_location','tweet_user_url', 'tweet_user_description', 'tweet_user_verified','tweet_user_followers_count',
                   'tweet_user_friends_count', 'tweet_user_favorites_count', 'tweet_user_statuses_count','tweet_user_listed_count',
                   'tweet_user_created_at', 'user_profile_image_url', 'user_default_profile','user_default_profile_image', 'tweet_retweet_count', 'tweet_favorite_count']

In [25]:
df.head()

,tweet_full_text,tweet_created_at,tweet_id,tweet_username,tweet_user_screename,tweet_userid_str,tweet_user_location,tweet_user_url,tweet_user_description,tweet_user_verified,...,tweet_user_friends_count,tweet_user_favorites_count,tweet_user_statuses_count,tweet_user_listed_count,tweet_user_created_at,user_profile_image_url,user_default_profile,user_default_profile_image,tweet_retweet_count,tweet_favorite_count
0,Really want a fez / Lexi parallel scene to whe...,2022-01-23 23:59:50,1.485402e+18,Katy,katykitty628,1.471191e+18,NaN,NaN,just a girl in a man's world üòå. ...,False,...,82.0,556.0,113.0,0.0,2021-12-15 18:51:50,https://pbs.twimg.com/profile_images/147119180...,True,False,0.0,0.0
1,#Euphoria I hope Maddy pulls the hair out that...,2022-01-23 23:59:33,1.485402e+18,ùêïùê¢ùê´ùê†ùêûùêöùêÆùê±,_njauu,9.510643e+17,here,NaN,"you're in my business, don't do that.",False,...,221.0,155447.0,45787.0,1.0,2018-01-10 12:12:53,https://pbs.twimg.com/profile_images/147736305...,True,False,0.0,0.0
2,Between #AndJustLikeThat and #Euphoria @HBO is...,2022-01-23 23:59:04,1.485402e+18,Steph Swinton,StephSwinton,2.390617e+07,New York,NaN,Just a girl from the city.\nalt Twitter: TheAr...,False,...,729.0,32677.0,28747.0,5.0,2009-03-12 05:32:39,https://pbs.twimg.com/profile_images/950198226...,False,False,0.0,2.0
3,its #Euphoria day!!!!,2022-01-23 23:59:04,1.485402e+18,felic-titty,lilbootybbg,1.173761e+18,in therapy,NaN,she/her 21 :),False,...,145.0,42553.0,3027.0,0.0,2019-09-17 00:52:26,https://pbs.twimg.com/profile_images/145893433...,True,False,0.0,2.0
4,YESSSIR DOING A QUICK STREAM BEFOE TONIGHT'S #...,2022-01-23 23:58:56,1.485402e+18,Chris RossVlogs,ChrisRossvlogs,1.347083e+18,Mr. Hollywood,https://t.co/3xdQXI2Zv8,"Actor/Director, & Youtuber Use code ‚ÄúChrisRoss...",False,...,276.0,4211.0,4099.0,1.0,2021-01-07 07:32:01,https://pbs.twimg.com/profile_images/141594587...,True,False,1.0,3.0

In [35]:
# Now that we have the tweet df containing all tweets across all weeks. I want to keep that df, for future use maybe 

df.to_csv('euphoria_tweets_complete.csv')

In [37]:
df.shape

(236640, 21)